body {
  background-image: linear-gradient(cornflowerblue, navy);
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  background-color: black;
  color: white;
  padding: 2rem;
  text-align: right;
}

main {
  border: 0px red solid;
}

article {
  background-color: white;
  border: 1px dashed black;
  padding: 1.3rem;
  margin: .5rem;
  margin-bottom: 1.5rem;
  border-radius: 1.5rem;
  filter: drop-shadow(.3rem .3rem .2rem rgb(67, 64, 119))
}

h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

footer {
  background-color: black;
  color: white;
  padding: 1rem;
  text-align: center;
}

a:link {
  color: rgb(214, 50, 50);
}

a:visited {
  color: green;
}
a:hover {
  color: blue;
}
a:active {
  color: brown;
}

header a:link {
  color: white;
  text-decoration: none;
}

header a:visited {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: blue;
  text-decoration: underline;
}

header a:active {
  color: brown;
  text-decoration: underline;
}

h2.logo {
  text-align: center;
  background-color: coral;
  width: 6rem;
  height: 6rem;
  display: grid;
  align-items: center;
  border-radius: 50%;
}

.wrapper {
  border: 0px solid black;
  margin: 0 auto;
  max-width: 40rem;
}